@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url('../fonts/ubuntu-light.woff') format('woff'), url('../fonts/ubuntu-light.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url('../fonts/ubuntu-regular.woff') format('woff'), url('../fonts/ubuntu-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('../fonts/ubuntu-medium.woff') format('woff'), url('../fonts/ubuntu-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/ubuntu-bold.woff') format('woff'), url('../fonts/ubuntu-bold.woff2') format('woff2');
}
